extends ../layouts/layout

block content
  h1 Sign In
  if alert
    p= alert
  form(method='POST', action='/auth/signin')
    div
      label Email
    input(type='text', name='email')
    div
      label Password
    input(type='password', name='password')
    div
      button(type='submit') Sign In
  div
    a(href='/auth/signup') Create an account
