extends ../layouts/layout

block content
  h1= title
  if alert
    p= alert
  form(method='POST', action='/auth/signup')
    div
      label Username
    input(type='text', name='username')
    div
      label Password
    input(type='password', name='password')
    div
      label Confirm Password
    input(type='password', name='passwordAgain')
    div
      button(type='submit') Sign Up
