extends ../layouts/layout

block content
  h1 Sign Up
  if alert
    p= alert
  form(method='POST', action='/auth/signup')
    div
      label Email
    input(type='text', name='email')
    div
      label Password
    input(type='password', name='password')
    div
      label Confirm Password
    input(type='password', name='passwordAgain')
    div
      button(type='submit') Sign Up
  div
    a(href='/auth/signin') Log in
